* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

/* Shared styles */

.primary-text {
  color: #000070;
}

.secondary-text {
  color: #8F8F8F;
}

.secondary-text-alpha {
  color: #E5E5E582;
}

.button {
  border: 0;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}

.button-primary {
  background-color: #5555A8;
  color: #FFFFFF;
}

.container {
  padding: 0 70px;
}

hr {
  color: #8F8F8F80;
  height: 1px;
  margin: 0;
}

/* Header styles */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  height: 58px;
}

header>.header-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

header>.header-title>.primary-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
}

header>.header-title>.secondary-text {
  margin-left: 17px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

header>.header-search {
  width: 82px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* TODO: add style for search icon */

header>.header-search>.header-search-input {
  width: 54px;
  color: #8F8F8F80;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  border: 0;
}

header>.header-search>.header-search-input::placeholder {
  color: #8F8F8F80;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

/* Navigation styles */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
}

.navigation>.navigation-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 9px;
}

.navigation>.navigation-tabs>.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 4px 17px;
  text-decoration: none;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #8F8F8F80;
}

.navigation>.navigation-tabs>.tab-active {
  color: #000070;
  border-bottom: #000070 solid 2px;
}

.navigation>.navigation-tabs>.tab>.tab-badge {
  background-color: #E5E5E582;
  border-radius: 4px;
  padding: 0 4px;
}

.navigation>.button {
  width: 234px;
  height: 38px;
  padding: 9px 44px 10px 43px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

/* Content styles */

.content {
  margin-top: 32px;
}

.content>table {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border-collapse: collapse;
}

.content>table thead th {
  text-align: left;
  padding: 16px 24px;
  font-weight: 700;
}

.content>table tbody tr {
  border-bottom: solid thin;
  border-color: #8F8F8F80;
}

.content>table tbody tr td {
  text-align: left;
  padding: 16px 24px;
  font-weight: 400;
}

.content>table tbody tr:first-child {
  border-top: solid thin;
  border-color: #8F8F8F80;
}

.content>table tbody tr:last-child {
  border: 0;
}

.content>.empty-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 200px;
}

.content>.empty-contacts>.empty-contacts-label {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.content>.empty-contacts>.button {
  width: 234px;
  height: 38px;
  padding: 9px 44px 10px 43px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}