<table class="primary-text">
  <thead>
    <th>Client Name</th>
    <th>Client Name</th>
    <th>Client Name</th>
    <th>Client Name</th>
    <th>Client Name</th>
  </thead>
  <tbody>
    <tr>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
    </tr>
    <tr>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
    </tr>
    <tr>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
    </tr>
    <tr>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
    </tr>
    <tr>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
    </tr>
    <tr>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
    </tr>
    <tr>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
      <td>Client item</td>
    </tr>
  </tbody>
</table>

<app-empty></app-empty>